pipeline/PL_24-07_TASK.json
{
	"name": "PL_24-07_TASK",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"dataset": {
						"referenceName": "Excel2",
						"type": "DatasetReference",
						"parameters": {
							"filename": "Excel_Query2.xlsx",
							"container": "practice-adf",
							"directory": "I2025_MAbdul1",
							"SheetName": "sheet1"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"batchCount": 1,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@item()['Source Query']",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_OnPrem_SQL",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": {
											"value": "@item()['SRC_Schema']",
											"type": "Expression"
										},
										"TableName": {
											"value": "@item()['SRC_Table Name']",
											"type": "Expression"
										},
										"database": {
											"value": "@item().SRC_Database",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_OnPrem_SQL",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": {
											"value": "@item().TGT_Schema",
											"type": "Expression"
										},
										"TableName": {
											"value": "@item()['TGT_Table Name']",
											"type": "Expression"
										},
										"database": {
											"value": "@item()['TGT_Database']",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Script1",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "LS_OnPrem_SQLServer",
								"type": "LinkedServiceReference",
								"parameters": {
									"Database": {
										"value": "@item()['SRC_Database']",
										"type": "Expression"
									}
								}
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": "TRUNCATE TABLE [Categories_tgt];\nTRUNCATE TABLE [CustomerCustomerDemo_tgt];\nTRUNCATE TABLE [CustomerDemographics_tgt];\nTRUNCATE TABLE [Customers_tgt];\nTRUNCATE TABLE [Employees_tgt];\nTRUNCATE TABLE [EmployeeTerritories_tgt];\nTRUNCATE TABLE [Order_Details_tgt];\nTRUNCATE TABLE [Orders_tgt];\nTRUNCATE TABLE [Products_tgt];\nTRUNCATE TABLE [Region_tgt];\nTRUNCATE TABLE [Shippers_tgt];\nTRUNCATE TABLE [Suppliers_tgt];\nTRUNCATE TABLE [Territories_tgt];"
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}