pipeline/PL_Day2_Exercise1.json
{
	"name": "PL_Day2_Exercise1",
	"properties": {
		"activities": [
			{
				"name": "GMD_for_ds_blob",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_Blob",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "FL_only_file_name",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GMD_for_ds_blob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GMD_for_ds_blob').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().type, 'File')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FL_only_file_name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FL_only_file_name').output.Value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "SV_count",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Count",
								"value": {
									"value": "@add(variables('Temp'), 1)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SV_temp",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "SV_count",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Temp",
								"value": {
									"value": "@variables('Count')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SV_file_name",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "SV_temp",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "FileName",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"FileName": {
				"type": "String"
			},
			"Count": {
				"type": "Integer",
				"defaultValue": 0
			},
			"Temp": {
				"type": "Integer",
				"defaultValue": 0
			}
		},
		"folder": {
			"name": "Exercise Day 2 E1"
		},
		"annotations": []
	}
}