pipeline/PL_Day2_Exercise1.json
{
	"name": "PL_Day2_Exercise1",
	"properties": {
		"activities": [
			{
				"name": "GMD_for_ds_blob",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_Blob",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "FL_only_name",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GMD_for_ds_blob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GMD_for_ds_blob').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item(), 'File')",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "Exercise Day 2"
		},
		"annotations": []
	}
}