pipeline/PL_Delete_I2025_JMeyappa.json
{
	"name": "PL_Delete_I2025_JMeyappa",
	"properties": {
		"activities": [
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('numbers')",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(mod(item(), 2), 0)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "numbers",
					"value": [
						1,
						2,
						3,
						4,
						5,
						6
					]
				}
			},
			{
				"name": "Delete1",
				"type": "Delete",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_test",
						"type": "DatasetReference",
						"parameters": {
							"container": "practice-adf",
							"foldername": "jeffine_folder"
						}
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "DS_Blob_storgare",
							"type": "LinkedServiceReference"
						},
						"path": "practice-adf/jeffine-folder"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			}
		],
		"variables": {
			"numbers": {
				"type": "Array",
				"defaultValue": [
					1,
					2,
					3,
					4,
					5,
					6
				]
			},
			"filecount": {
				"type": "Integer"
			},
			"filename": {
				"type": "String"
			},
			"add": {
				"type": "Integer"
			},
			"temp": {
				"type": "Integer"
			}
		},
		"annotations": []
	}
}