pipeline/PL_ex2_I2025_SRangan1.json
{
	"name": "PL_ex2_I2025_SRangan1",
	"properties": {
		"activities": [
			{
				"name": "Metadata_Blob",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_Blob",
						"type": "DatasetReference"
					},
					"fieldList": [],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Filter_csv",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Metadata_Blob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item().name, '.csv')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set_variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Filter_csv",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "a",
					"value": 0
				}
			},
			{
				"name": "For_filter",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set_variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set_value",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "b",
								"value": {
									"value": "@variables('a')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set_valueFor_Add",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set_value",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "a",
								"value": {
									"value": "@add(variables('b'), 1)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable4",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "c",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"a": {
				"type": "Integer"
			},
			"b": {
				"type": "Integer"
			},
			"c": {
				"type": "String"
			}
		},
		"folder": {
			"name": "old_I2025_SRangan1"
		},
		"annotations": []
	}
}