pipeline/PL_Exrecise1.json
{
	"name": "PL_Exrecise1",
	"properties": {
		"activities": [
			{
				"name": "Wait1",
				"type": "Wait",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 5
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Wait1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "status",
					"value": "yes"
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('status'),'yes')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_OnPrem_SQL",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": "dbo",
										"TableName": "countries"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_Blob",
									"type": "DatasetReference",
									"parameters": {
										"container": "practice-adf",
										"folder": "aabidh",
										"filename": "countries.csv"
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"status": {
				"type": "String"
			},
			"filename": {
				"type": "String"
			},
			"filecount": {
				"type": "Integer"
			},
			"counts": {
				"type": "Integer"
			},
			"nameoffile": {
				"type": "Array",
				"defaultValue": []
			}
		},
		"annotations": []
	}
}