pipeline/PL_Northwind_I2025_SRangan1.json
{
	"name": "PL_Northwind_I2025_SRangan1",
	"properties": {
		"activities": [
			{
				"name": "Lookup",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"dataset": {
						"referenceName": "DS_Excel_I2025_SRangan1",
						"type": "DatasetReference",
						"parameters": {
							"sheetnum": 0,
							"Container": "practice-adf",
							"FolderName": "I2025_SRangan1/Northwind Data Migration",
							"FileName": "Northwind Migration updated.xlsx"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach",
				"type": "ForEach",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "CP",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@item()['Source Query'] \n\n\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_sql_I2025_SRangan1",
									"type": "DatasetReference",
									"parameters": {
										"Schema": {
											"value": "@item()['Source Schema']",
											"type": "Expression"
										},
										"Table": {
											"value": "@item()['Table Name']\n",
											"type": "Expression"
										},
										"DB_Name": {
											"value": "@item()['Source Database']",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_sql_I2025_SRangan1",
									"type": "DatasetReference",
									"parameters": {
										"Schema": {
											"value": "@item()['Target Schema']",
											"type": "Expression"
										},
										"Table": {
											"value": "@item()['Target Table']",
											"type": "Expression"
										},
										"DB_Name": {
											"value": "@item().TGT_Database",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "TDSG_Training_I2025_SRangan1"
		},
		"annotations": []
	}
}