pipeline/PL_Qn_2.json
{
	"name": "PL_Qn_2",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_Blob",
						"type": "DatasetReference",
						"parameters": {
							"Container": "adf-module-test-1-source",
							"Folder": "Module Test 1 Qn2",
							"FileName": "raw_anime1.csv"
						}
					},
					"fieldList": [
						{
							"value": "childItem",
							"type": "Expression"
						}
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_Blob",
									"type": "DatasetReference",
									"parameters": {
										"Container": "adf-module-test-1-source",
										"Folder": "Module Test 1 Qn2",
										"FileName": "raw_anime1.csv"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_OnPrem_SQL",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": "I2025_MDinesh",
										"TableName": "Table Name must be TGT_Raw_Anime_YourID",
										"database": "Intern_2025"
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "ADF_Module_test"
		},
		"annotations": []
	}
}