pipeline/PL_SupplyChain.json
{
	"name": "PL_SupplyChain",
	"properties": {
		"activities": [
			{
				"name": "SupplyChainSrc",
				"type": "GetMetadata",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_TDSG_Excel_I2025_SRangan1",
						"type": "DatasetReference",
						"parameters": {
							"Sheet": 0,
							"FileName": "*"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "ForEach_Iteration",
				"type": "ForEach",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "SupplyChainSrc",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('SupplyChainSrc').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "DF_supplychain_src",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "DF_SupplyChain_I2025_SRangan1",
									"type": "DataFlowReference",
									"parameters": {
										"Name": {
											"value": "'@{replace(item().name,'.xlsx','.csv')}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"source": {
											"Sheet": 0,
											"FileName": {
												"value": "@item().name",
												"type": "Expression"
											}
										},
										"sink": {
											"Container": "test-container",
											"FolderName": "I2025_SRangan1/TDSG_Supply_Chain_new",
											"FileName": {
												"value": "@item().name",
												"type": "Expression"
											}
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						},
						{
							"name": "CP_csv_sql",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "DF_supplychain_src",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_TDSG_Project_I2025_SRangan1",
									"type": "DatasetReference",
									"parameters": {
										"Container": "test-container",
										"FolderName": "I2025_SRangan1/TDSG_Supply_Chain_new",
										"FileName": {
											"value": "@replace(item().name,'.xlsx','.csv')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_sql_I2025_SRangan1",
									"type": "DatasetReference",
									"parameters": {
										"Schema": "I2025_SRangan1",
										"Table": {
											"value": "@replace(item().name,'.xlsx','')",
											"type": "Expression"
										},
										"DB_Name": "Intern_2025"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Store proc_sql",
				"type": "SqlServerStoredProcedure",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "ForEach_Iteration",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[I2025_SRangan1].[fact_por_details_tgt]"
				},
				"linkedServiceName": {
					"referenceName": "LS_sql_server",
					"type": "LinkedServiceReference",
					"parameters": {
						"DataBase": "Intern_2025"
					}
				}
			}
		],
		"folder": {
			"name": "TDSG_Training_I2025_SRangan1/TDSG_PROJECT_I2025_SRangan1"
		},
		"annotations": []
	}
}