pipeline/PL_supply.json
{
	"name": "PL_supply",
	"properties": {
		"activities": [
			{
				"name": "Copy data1_copy1",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "SqlServerSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Id",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Id",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "HistoryID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "HistoryID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "FormID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "FormID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "FormType",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "FormType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ActionTakenDateTime",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ActionTakenDateTime",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "Status",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Status",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ActionTakenByUserID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ActionTakenByUserID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Role",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Role",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ActionType",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ActionType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "DelegateUserId",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "DelegateUserId",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "IsActive",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "IsActive",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "CreatedAt",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CreatedAt",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_Excel_I2025_JNagar1",
						"type": "DatasetReference",
						"parameters": {
							"container": "practice-adf",
							"folder": "Supply Chain Analytics/Dataset",
							"file": "STG_ManageHistoryMaster.xlsx",
							"sheet": 0
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_sql_I2025_JNagara",
						"type": "DatasetReference",
						"parameters": {
							"sehma": "I2025_JNagara1",
							"table": "STG_ManageHistoryMaster",
							"database": "Intern_2025"
						}
					}
				]
			},
			{
				"name": "Copy data1_copy2",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Copy data1_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "SqlServerSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "SPID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "SPID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "DivisionKey",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "DivisionKey",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Division",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Division",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PurchaseOrganization",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PurchaseOrganization",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Description",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Description",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ActiveFlag",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ActiveFlag",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "CreatedDate",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CreatedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_Excel_I2025_JNagar1",
						"type": "DatasetReference",
						"parameters": {
							"container": "practice-adf",
							"folder": "Supply Chain Analytics/Dataset",
							"file": "divisionMapping.xlsx",
							"sheet": 0
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_sql_I2025_JNagara",
						"type": "DatasetReference",
						"parameters": {
							"sehma": "I2025_JNagara1",
							"table": "SRC_DIVISION_MAPPING",
							"database": "Intern_2025"
						}
					}
				]
			},
			{
				"name": "Copy data1_copy5",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Copy data1_copy2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "SqlServerSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "EmployeeKey",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "EmployeeKey",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "DepartmentKey",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "DepartmentKey",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "ReportingManagerKey",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ReportingManagerKey",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "PlantKey",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PlantKey",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "EmployeeCode",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "EmployeeCode",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "EmployeeName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "EmployeeName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CostCenter",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CostCenter",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "IsAdmin",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "IsAdmin",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Email",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Email",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "EmpDesignation",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "EmpDesignation",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "IsVendorSync",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "IsVendorSync",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "EmployeeType",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "EmployeeType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "RoleId",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "RoleId",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "IsActive",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "IsActive",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "CreatedDate",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CreatedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_Excel_I2025_JNagar1",
						"type": "DatasetReference",
						"parameters": {
							"container": "practice-adf",
							"folder": "Supply Chain Analytics/Dataset",
							"file": "employees.xlsx",
							"sheet": 0
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_sql_I2025_JNagara",
						"type": "DatasetReference",
						"parameters": {
							"sehma": "I2025_JNagara1",
							"table": "SRC_EMPLOYEES",
							"database": "Intern_2025"
						}
					}
				]
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_Excel1_I2025JNagara1",
						"type": "DatasetReference",
						"parameters": {
							"sheetss": 0,
							"container": "practice-adf",
							"folder": "Supply Chain Analytics/Dataset",
							"filename": "*"
						}
					},
					"fieldList": [
						"childItems",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Data flow1",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "DFSupplysrc",
									"type": "DataFlowReference",
									"parameters": {
										"outputfile": {
											"value": "'@{item().name}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"STGManageHistoryMaster": {
											"container": "practice-adf",
											"folder": "Supply Chain Analytics/Dataset",
											"file": {
												"value": "@item().name",
												"type": "Expression"
											},
											"sheet": 0
										},
										"sink1": {
											"container": "practice-adf",
											"folder": "I2025_JNagara1/supplySRC",
											"filename": {
												"value": "@item().name",
												"type": "Expression"
											}
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "SRC_supply"
		},
		"annotations": []
	}
}