pipeline/PL_SQL_DB_Transfer.json
{
	"name": "PL_SQL_DB_Transfer",
	"properties": {
		"activities": [
			{
				"name": "LKP_ExcelContents",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"dataset": {
						"referenceName": "DS_EXCEL_BLOB",
						"type": "DatasetReference",
						"parameters": {
							"container_name": "practice-adf",
							"dir_name": "I2025_JSenthil",
							"file_name": "Northwind_data_transfer.xlsx",
							"sheet_idx": 0
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "FOR_each_table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LKP_ExcelContents",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LKP_ExcelContents').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "SCPT_for_each_copy",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "LS_SQL_server",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@replace(replace(item()['CopyQuery'], '/n', ''), '/t', '')",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			},
			{
				"name": "SRT_TruncateTables",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "FOR_each_table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "LS_SQL_server",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "TRUNCATE TABLE [NW_Shippers];\nTRUNCATE TABLE [NW_Suppliers];\nTRUNCATE TABLE [NW_Products];\nTRUNCATE TABLE [NW_Categories];\nTRUNCATE TABLE [NW_CustomerCustomerDemo];\nTRUNCATE TABLE [NW_CustomerDemographics];\nTRUNCATE TABLE [NW_Customers];\nTRUNCATE TABLE [NW_Employees];\nTRUNCATE TABLE [NW_EmployeeTerritories];\nTRUNCATE TABLE [NW_Territories];\nTRUNCATE TABLE [NW_Region];\nTRUNCATE TABLE [NW_Order_Details];\nTRUNCATE TABLE [NW_Orders];"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"folder": {
			"name": "DataTransfer"
		},
		"annotations": []
	}
}